.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 20vh;
    background: #000000;
    // border-top: 1px solid var(--main-color);
    justify-content: center;
    color: rgba(240, 248, 255, 0.743);
}